.footer{
    background-color:  hsl(255, 11%, 22%);
    display: flex;
    justify-content: space-around;
    height: 30vh;
}
.footer h1 ,.footer h3{
    color: white;
}
.icon{
    display: flex;
    gap: 20px;
    height: 5vh;
    margin-top: 10px;
    cursor: pointer;
}
.list{
    list-style: none;
    color:  hsl(0, 2%, 55%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;

}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loop{
    list-style: none;
    color:  hsl(0, 2%, 55%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
.sup:hover{

    color: aqua;
    cursor: pointer;
}
.bloom:hover{
    color: aqua;
    cursor: pointer;
}
.dev:hover{
    color: aqua;
    cursor: pointer;
}
@media screen and (max-width:950px){
    .footer{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .loop{
        margin-right: 20px;
        align-items: center;
    }
    .resources h3,.company h3{
        padding-left: 20px;
    }
    .list{
        align-items: center;
    }
    .icon{
        align-items: center;
        justify-content: center;
        padding-left: 25px;
    }
}

